.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  flex: 1;
  background-color: var(--gray-600);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}