.card {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);
  border-radius: 8px;
  color: var(--gray-100);
  gap: 0.75rem;
  font-size: 0.875rem;
  width: 50%;
}

.card + .card {
  margin-top: 0.75rem;
}

.card input {
  border-radius: 100%;
}

.card span {
  flex: 1;
}

.done {
  color: var(--gray-300);
  text-decoration: line-through;
  border: 1px solid var(--gray-500);
}

.trash {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: var(--gray-300);
}

.trash:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}